---
import Pagination from '@/components/pagination/Pagination.astro'
import { BASE_URL } from '@/constants/url'
import type { PageProps, PathNameProps } from '@/templates/blog/page/types.ts'

const { data, total, size, currentPage, lastPage } = Astro.props.page as PageProps
const { pathName, categoryPathName } = Astro.props as PathNameProps
---

<h1>Page {currentPage}</h1>
{
  data.map(({ slug, data: { ogImage, ogImageAlt, title } }) => (
    <a href={`${BASE_URL}${pathName}/${slug}/`}>
      <img
        width={400}
        height={210}
        src={ogImage ? `${BASE_URL}${ogImage}` : `${BASE_URL}ogp/${pathName}/general.webp`}
        alt={ogImageAlt ? ogImageAlt : 'コンテンツです'}
      />
      <h1>{title}</h1>
    </a>
  ))
}
{
  total > size && (
    <Pagination
      pathName={categoryPathName ? categoryPathName : pathName}
      currentPage={currentPage}
      lastPage={lastPage}
    />
  )
}
