---
import { css } from '@/../styled-system/css'
import type { PaginationProps } from '@/components/pagination/types.ts'
import { calculatePagination } from '@/components/pagination/utils.ts'
import { BASE_URL } from '@/constants/url'

const { pathName, currentPage, lastPage, step = 2 } = Astro.props as PaginationProps

const { isShowFirstLink, isShowLastLink, isShowFirstOmit, isShowLastOmit, range } =
  calculatePagination(currentPage, lastPage, step)
---

<nav aria-label='ページネーション'>
  <ul
    class={css({
      display: 'flex',
      columnGap: '8',
    })}
  >
    {
      currentPage > 1 && (
        <li>
          <a href={`${BASE_URL}${pathName}/${currentPage - 1}/`}>＜ 前へ</a>
        </li>
      )
    }
    {
      isShowFirstLink && (
        <li>
          <a href={`${BASE_URL}${pathName}/1/`}>1</a>
        </li>
      )
    }
    {isShowFirstLink && isShowFirstOmit && <li>...</li>}
    {
      range.map((number) => (
        <li>
          {number === currentPage ? (
            <span>{number}</span>
          ) : (
            <a href={`${BASE_URL}${pathName}/${number}/`}>{number}</a>
          )}
        </li>
      ))
    }
    {isShowLastLink && isShowLastOmit && <li>...</li>}
    {
      isShowLastLink && (
        <li>
          <a href={`${BASE_URL}${pathName}/${lastPage}/`}>{lastPage}</a>
        </li>
      )
    }
    {
      currentPage < lastPage && (
        <li>
          <a href={`${BASE_URL}${pathName}/${currentPage + 1}/`}>次へ ＞</a>
        </li>
      )
    }
  </ul>
</nav>
