---
import FetchRadioGroupOrTabs from '@/templates/todos/components/fetch/FetchRadioGroupOrTabs.astro'
import { RadioGroupOrTabs } from '@/components'
import { Button } from '@/components/button/Button'
// import { css } from '@/../styled-system/css'

// const testCSS = css({})
const labelFruit = '果物'
---

<div>
  <h1>タスク一覧</h1>
  {
    /* 
  <RadioGroupOrTabs
    slot='fallback'
    sx={{ color: 'none', preview: 'skeleton', orientation: 'horizontal' }}
    label='野菜'
    group={[]}
  />
  <h2>タスク二覧</h2>
  */
  }
  <FetchRadioGroupOrTabs server:defer label={labelFruit}>
    <RadioGroupOrTabs
      slot='fallback'
      sx={{ color: 'none', preview: 'skeleton', orientation: 'vertical' }}
      label={labelFruit}
      group={[]}
    />
  </FetchRadioGroupOrTabs>
</div>
{
  /*
  <RadioGroupOrTabs label='魚' group={titles} apiKey='fish' />
  <RadioGroupOrTabs sx={{ type: 'tab', orientation: 'horizontal' }} label='果物' group={['1', '2']}>
    <section class={testCSS}>
      <p>SECTION 1</p>
      <p>11111</p>
    </section>
    <section class={testCSS}>
      <p>SECTION 2</p>
      <p>22222</p>
      <p>22222</p>
    </section>
  </RadioGroupOrTabs>
  <RadioGroupOrTabs
    sx={{ color: 'tertiary', type: 'tab', orientation: 'vertical' }}
    label='野菜'
    group={[
      'あああああああ',
      'いいいいいいい',
      'ううううううう',
      'えええええええ',
      'おおおおおおお'
    ]}
  >
    <section class={testCSS}>
      <p>SECTION 1</p>
      <p>11111</p>
    </section>
    <section class={testCSS}>
      <p>SECTION 2</p>
      <p>22222</p>
      <p>22222</p>
    </section>
    <section class={testCSS}>
      <p>SECTION 3</p>
      <p>33333</p>
      <p>33333</p>
      <p>33333</p>
    </section>
    <div class={testCSS}>
      <p>SECTION 4</p>
      <p>44444</p>
      <p>44444</p>
    </div>
    <div class={testCSS}>
      <p>SECTION 5</p>
      <p>55555</p>
    </div>
  </RadioGroupOrTabs>
  */
}
<Button client:load />
