---
import { fetchTodos } from '@/templates/todos/api'
import RadioGroup from '@/components/radioGroup/RadioGroup.astro'
import { Button } from '@/components/button/Button'

interface Todo {
  id: number
  title: string
}
const todos: Todo[] = await fetchTodos()
---

<div>
  <h1>タスク一覧</h1>
  <ul role='list'>
    {
      todos.map((todo, index) => (
        <li>
          <p>{index}</p>
          <p>
            <RadioGroup id={index} name='index' label={todo.title} />
          </p>
        </li>
      ))
    }
  </ul>
  <ul role='list'>
    {
      todos.map((todo, index) => (
        <li>
          <p>{index}</p>
          <p>
            <RadioGroup sx={{ display: 'block' }} id={index} name='bbb' label={todo.title} invert />
          </p>
        </li>
      ))
    }
  </ul>
  <Button client:load />
</div>
