---
import { Radio } from '@/components/radio/Radio'
import type { Props } from '@/components/radioLabel/types.ts'

const { sx, id, name, label, invert = false } = Astro.props
---

{
  invert ? (
    <>
      <label for={`${name}-${id}`}>{label}</label>
      {/* eslint-disable-next-line no-restricted-syntax */}
      <Radio client:load sx={sx} id={id} name={name} />
    </>
  ) : (
    <>
      {/* eslint-disable-next-line no-restricted-syntax */}
      <Radio client:load sx={sx} id={id} name={name} />
      <label for={`${name}-${id}`}>{label}</label>
    </>
  )
}
