---
import { Radio } from '@/components/radio/Radio'
import type { Props } from '@/components/radioGroup/types.ts'
import { style } from '@/components/radioGroup/styles.ts'

const { sx, label = undefined, group, apiKey = undefined } = Astro.props
const sxResult = label === undefined ? { ...sx, visibility: 'hidden' as const } : sx
const labelResult = label === undefined ? 'タブ' : label
const name = (apiKey === undefined ? labelResult : apiKey) || ''
const sxRadio = { color: sx?.color }
---

<fieldset class={style(sxResult)}>
  <legend>{labelResult}</legend>
  {
    group.map((g, index) => (
      <>
        {/* eslint-disable no-restricted-syntax */}
        {sx?.type === 'tab' ? (
          <label for={`${name}-${index}`}>
            <Radio sx={sxRadio} id={index} name={name} />
            {g}
          </label>
        ) : (
          <label for={`${name}-${index}`}>
            <Radio client:load sx={sxRadio} id={index} name={name} />
            {g}
          </label>
        )}
        {/* eslint-enable no-restricted-syntax */}
      </>
    ))
  }
  <slot />
</fieldset>
