---
import type { Props } from '@/components/category/types.ts'
import {
  getCategoryCount,
  getCategoryList,
  getValidCategories
} from '@/components/category/utils.ts'
import { BASE_URL } from '@/constants/url'

const { pathName, category } = Astro.props
const contentTotal = category.length

const validCategories = getValidCategories(category)
const categoryCount = getCategoryCount(validCategories)
const categoryList = getCategoryList(categoryCount)
---

<div>
  <p>カテゴリー</p>
  <ul role='list'>
    <li>
      <a href={`${BASE_URL}${pathName}/1/`} aria-label='すべてのカテゴリー'>
        すべて [{contentTotal}]記事
      </a>
    </li>
    {
      categoryList.map(([category, count]) => (
        <li>
          {/* TODO: 日本語のときの文字化けによるリンク切れを修正すること */}
          <a
            href={`${BASE_URL}${pathName}/${category}/1/`}
            aria-label={`カテゴリー: ${category} (${count}記事)`}
          >
            {category} ({count})
          </a>
        </li>
      ))
    }
  </ul>
</div>
