---
import Image from '@/components/media/image/Image.astro'
import Picture from '@/components/media/picture/Picture.astro'
import ship from '@/assets/images/page/ship.jpg'
import salt from '@/assets/images/page/salt.jpg'
import car from '@/assets/images/page/car.png'
import living from '@/assets/images/page/living.png'
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'
import { BREAKPOINTS } from '@/constants/breakpoints'
import { Avatar } from '@/components'
import test1 from '@/assets/images/content/authors/anonymous/test1.png'
import test2 from '@/assets/images/content/authors/anonymous/test2.png'

const headPage: HeadPageProps = {
  title: 'indexPageTitle',
  description: 'indexページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}

const items = [
  {
    leftItem: 'A',
    text: 'test1',
    rightItem: 'B',
    link: 'https://www.google.com/'
  },
  {
    leftItem: 'C',
    text: 'test2',
    rightItem: 'D',
    link: 'https://www.apple.com/'
  },
  {
    leftItem: 'E',
    text: 'test3',
    rightItem: 'F',
    link: 'https://www.microsoft.com/'
  }
]
---

<Layout headPage={headPage}>
  {
    /* TODO: ダークモード用の画像も用意した方が良いかも？(srcでダークモードであれば分岐させて表示？) */
  }
  <Image src={ship} alt='船です' width='700' height='300' isOptimization />
  <p>TEST_TEST_TEST_TEST_TEST</p>
  {/* <Image src={salt} alt='塩です' width='700' height='300' /> */}
  <p>TEST_TEST_TEST_TEST_TEST</p>
  <img src={ship.src} alt='船です' width='700' height='300' />
  <p>TEST_TEST_TEST_TEST_TEST</p>
  <Image src={salt} alt='塩です' width='700' height='300' isOptimization />
  <p>TEST_TEST_TEST_TEST_TEST</p>
  <p>Pictureです。</p>
  <Picture
    src={[living, car]}
    width={['117', '160']}
    height={['117', '110']}
    media={[BREAKPOINTS.lg]}
    alt='リビングと車です'
    isOptimization
  />
  <div>
    <Avatar items={items} />{/* Image */}
    <Avatar src={test1} size='lg' />{/* Image */}
    <Avatar src={test2} alt='James Smith' />{/* Image */}
    <Avatar size='2xl' alt='遠藤 達郎' items={items} />{/* Letter */}
    <Avatar src={test2} alt='James Smith' items={items} />{/* Image */}
    <Avatar alt='Bob' size='xs' />{/* Letter */}
  </div>
  <div>
    <Avatar alt='Bob' size='xs' />
    <Avatar alt='Bob' size='sm' />
    <Avatar alt='Bob' size='md' />
    <Avatar alt='Bob' size='2xl' items={items} />
  </div>
</Layout>
