---
import { css } from '@/../styled-system/css'
import Card from '@/components/Card.astro'
import { App } from '@/components/app'
import { BASE_URL } from '@/constants/url'
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'

const testCSS = css({
  maxW: '2xl',
  fontWeight: 'bold'
})

const headPage: HeadPageProps = {
  title: 'indexPageTitle',
  description: 'indexページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author',
  googleSiteVerification: 'googleSiteVerification'
}
---

<Layout headPage={headPage}>
  <p>
    リポジトリのURL:
    <a href='https://github.com/TakayukiMoto-arsaga/astro-boilerplate'>
      https://github.com/TakayukiMoto-arsaga/astro-boilerplate
    </a>
  </p>
  <a href={`${BASE_URL}example/`} class={css({})}>exampleへ遷移</a>
  <br />
  <a href={`${BASE_URL}blog/1/`} class={css({})}>blogへ遷移</a>
  <br />
  <a href={`${BASE_URL}img/`} class={css({})}>imgへ遷移</a>
  <br />
  <a href={`${BASE_URL}panda/`} class={css({})}>pandaへ遷移</a>
  <div class={testCSS}>AAA</div>
  <App client:only='react' />
  <div
    class={css({
      fontSize: '2xl',
      fontWeight: 'bold'
    })}
  >
    Hello !
  </div>
  <h1 class={css({ fontSize: '2xl', fontWeight: 'bold' })}>
    Welcome to <span>Astro</span>
  </h1>
  <p>
    To get started, open the directory <code>src/pages</code> in your project.<br />
    <strong>Code Challenge:</strong> Tweak the Welcome to Astro message above.
  </p>
  <ul>
    <li>
      <Card
        href='https://docs.astro.build/'
        title='Documentation'
        body='Learn how Astro works and explore the official API docs.'
      />
    </li>
    <li>
      <Card
        href='https://astro.build/integrations/'
        title='Integrations'
        body='Supercharge your project with new frameworks and libraries.'
      />
    </li>
  </ul>
</Layout>
