---
import { css } from '@/../styled-system/css'
import { BASE_URL } from '@/constants/url'
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'

const testCSS = css({
  maxW: '2xl',
  fontWeight: 'bold'
})

const headPage: HeadPageProps = {
  title: 'indexPageTitle',
  description: 'indexページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author',
  googleSiteVerification: 'googleSiteVerification'
}
---

<Layout headPage={headPage}>
  <a href={`${BASE_URL}example/`} class={css({})}>exampleへ遷移</a>
  <br />
  <a href={`${BASE_URL}blog/1/`} class={css({})}>blogへ遷移</a>
  <br />
  <a href={`${BASE_URL}img/`} class={css({})}>imgへ遷移</a>
  <br />
  <a href={`${BASE_URL}icon/`} class={css({})}>iconへ遷移</a>
  <br />
  <a href={`${BASE_URL}panda/`} class={css({})}>pandaへ遷移</a>
  <br />
  <a href={`${BASE_URL}register/`} class={css({})}>ユーザー登録へ遷移</a>
  <br />
  <a href={`${BASE_URL}todos/`} class={css({})}>TODOへ遷移</a>
  <div class={testCSS}>AAA</div>
  <div
    class={css({
      fontSize: '2xl',
      fontWeight: 'bold'
    })}
  >
    Hello !
  </div>
  <h1 class={css({ fontSize: '2xl', fontWeight: 'bold' })}>
    Welcome to <span>Astro</span>
  </h1>
  <p>
    To get started, open the directory <code>src/pages</code> in your project.<br />
    <strong>Code Challenge:</strong> Tweak the Welcome to Astro message above.
  </p>
  <h1>H1,H1,H1,H1,H1,H1,H1,H1,H1,H1,H1</h1>
  <h2>H2,H2,H2,H2,H2,H2,H2,H2,H2,H2,H2</h2>
  <h3>H3,H3,H3,H3,H3,H3,H3,H3,H3,H3,H3</h3>
  <h4>H4,H4,H4,H4,H4,H4,H4,H4,H4,H4,H4</h4>
  <h5>H5,H5,H5,H5,H5,H5,H5,H5,H5,H5,H5</h5>
  <h6>H6,H6,H6,H6,H6,H6,H6,H6,H6,H6,H6</h6>
</Layout>
