---
import { css } from '@/../styled-system/css'
import { TOC } from '@/components/toc/TOC.tsx'
import { BASE_URL } from '@/constants/url'
import type { PathNameProps, SlugProps } from '@/templates/blog/slug/types.ts'
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'

const { ogImage, ogImageAlt, title } = Astro.props.post as SlugProps
const { pathName } = Astro.props as PathNameProps
const { Content } = Astro.props as { Content: AstroComponentFactory }

const blogDetail = css({
  '& h2': {
    fontSize: '4xl',
  },
  '& h3': {
    fontSize: '2xl',
  },
  '& p': {
    fontSize: 'xl',
    color: 'primary',
  },
})
---

<img
  width={400}
  height={210}
  src={ogImage ? `${BASE_URL}${ogImage}` : `${BASE_URL}ogp/${pathName}/general.webp`}
  alt={ogImageAlt ? ogImageAlt : 'コンテンツです'}
/>
<h1>{title}</h1>
<hr />
<article class={blogDetail}>
  {/* 記事のタイトルにh1タグを使用するので、目次の見出しはh2タグから使ってください。 */}
  {
    /* MDXファイル内で最初に書かれている##の直上に、<TOC headings={getHeadings()} />を記述して目次を生成してください。 */
  }
  <Content components={{ TOC }} />
</article>
